<div id="game-grid" class="inline-block border border-black" data-game-target="grid">
  <% grid.each_with_index do |row, row_index| %>
    <div class="flex">
      <% row.each_with_index do |cell_alive, col_index| %>
        <div 
          data-action="click->game#toggleCell"
          data-cell
          data-cell-state="<%= cell_alive ? 'alive' : 'dead' %>"
          data-col="<%= col_index %>"
          data-row="<%= row_index %>" 
          class="w-4 h-4 border-[0.5px] border-gray-300 cursor-pointer transition-colors duration-150">
        </div>
      <% end %>
    </div>
  <% end %>
</div>