<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="flex flex-col gap-2 bg-red-50 p-4 rounded-md">
    <% resource.errors.full_messages.each do |message| %>
      <p class="text-red-700"><%= message %></p>
    <% end %>
  </div>
<% end %>
