<div id="game-grid" class="inline-block border border-black">
  <% grid.each_with_index do |row, row_index| %>
    <div class="flex">
      <% row.each_with_index do |cell, col_index| %>
        <div 
          data-action="click->game#toggleCell"
          data-cell-state="dead"
          data-row="<%= row_index %>" 
          data-col="<%= col_index %>"
          class="w-4 h-4 border border-gray-300 cursor-pointer">
        </div>
      <% end %>
    </div>
  <% end %>
</div>