<div class="flex flex-col items-center min-h-full gap-6">
  <h1 class="text-3xl font-bold">Conway's Game of Life</h1>
  <%= form_with url: new_game_path, method: :get do |form| %>
    <div class="flex gap-4">
      <button class="py-2 px-4 rounded-md bg-green-600 hover:bg-green-700 text-white">Start</button>
      <button class="py-2 px-4 rounded-md bg-red-600 hover:bg-red-700 text-white">Reset</button>
      <div class="flex items-center gap-2">
        <label for="grid-size" class="block text-sm font-medium text-gray-700">Grid Size:</label>
        <%= select_tag :size, 
          options_for_select([
            ['10x10', '10'],
            ['20x20', '20'],
            ['30x30', '30'],
            ['40x40', '40'],
            ['50x50', '50'],
            ['60x60', '60'],
            ['70x70', '70'],
            ['80x80', '80'],
            ['90x90', '90'],
            ['100x100', '100']
          ], params[:size] || '30'),
          id: 'grid-size',
          class: 'border border-gray-200 p-2 rounded-md',
          onchange: 'this.form.submit()' 
        %>
      </div>
      <div class="flex items-center gap-2">
        <label for="game-speed" class="block text-sm font-medium text-gray-700">Game speed (ms):</label>
        <%= select_tag :speed, 
          options_for_select([
            ['100', '100'],
            ['200', '200'],
            ['300', '300'],
            ['400', '400'],
            ['500', '500'],
            ['600', '600'],
            ['700', '700'],
            ['800', '800'],
            ['900', '900'],
            ['1000', '1000']
          ], params[:speed] || '500'),
          id: 'game-speed',
          class: 'border border-gray-200 p-2 rounded-md',
          onchange: 'this.form.submit()' 
        %>
      </div>
    </div>
  <% end %>
  <%= render "grid", grid: @game.grid %>
</div>
